# Python
__pycache__/
*.pyc
.venv/
.env

# Data
data/
*.csv
*.xlsx
*.xls
*.pkl
predictions.csv

# Embeddings & DB
emb_cache/
*.npy
uniclass_db.npz
uniclass_faiss.index

# HF / Torch
hf_uniclass_model/*.bin
hf_uniclass_model/*.safetensors
hf_uniclass_model/checkpoint-*/

# Logs
logs/
wandb/

# OS
.DS_Store
.ipynb_checkpoints/
